@model List<AdventureWorks.Controllers.BlocData>

@foreach (var bloc in Model)
{
    <div>
        <h1>@bloc.Libelle</h1>
        @foreach (var rubric in bloc.Rubrics)
        {
            <section>
                <h3>@rubric.Libelle</h3>
                <ul>
                    @foreach (var item in rubric.Items)
                    {
                        <li>
                            <a href="@item.Lien" target="_blank">@item.Libelle</a>
                            <i onclick="navigator.clipboard.writeText('@item.Copie');" >&#128203;</i>
                        </li>
                    }
                </ul>
            </section>
        }
    </div>
}

